.container {
  height: 100%;
  width: 100%;
  background: greenyellow;
  .container-header {
    display: none;
  }
  .container-content {
    height: 100%;
    width: 100%;
    background: yellow;
  }
}
