.carousel {
  .soul-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #364d79;
    color: #fff;
    height: 150px;
    padding: 10px;
    font-size: 20px;
    text-align: center; // 换行后仍然会居中
  }
}