@import '~antd/dist/antd.css';
.main {
  height: 100vh;
  .striky-box {
    position: -webkit-sticky;
    position: sticky;
  }
  .container {
    height: 100%;
    .header {
      color: white;
      background: #cccccc;
      top: 0
    }
    .content {
      top: 0;
      .main {
        background: white;
        .sub-header {
          top: 0;
        }
        .router-page {
          top: 0;
          background: white;
        }
      }
    }
    .footer {
      background: bisque;
      text-align: center;
    }
  }
}