.news {
  .news-tag {
    display: inline-block;
    margin: 5px;
    background: azure;
  }

  .tab-content {
    top: 0;
  }
  .striky-box {
    position: -webkit-sticky;
    position: sticky;
  }
}